ion-list-header.ios {
    color: var(--ion-color-medium);
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: 16px;
}

.settingsPage-about {
    color: var(--ion-color-medium);
    line-height: 1.5;
    /* text-align: center; */
    color: var(--ion-color-medium);
    font-size: 14px;
}

.settingsPage-about--title {
    font-weight: normal;
}

.settingsPage-about--version {
    color: var(--ion-color-medium);
    font-size: 14px;
}

.settingsPage-deleteButton {
    width: 100%;
}

.settingsPage-installation-appLogoContainer {
    display: flex;
    padding-block-start: 24px;
    padding-block-end: 8px;
    flex-direction: column;
    align-items: center;
}

.settingsPage-installation-appName {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.settingsPage-installation-appVersion {
    font-size: 14px;
    opacity: 0.75;
}

.settingsPage-installation-iosDirections ion-icon {
    font-size: 20px;
    line-height: 10px;
}

.settingsPage-appLogoImg {
    border-radius: 16px;
}

ion-toolbar {
    background-color: var(--ion-color-light);
}