.react-calendar {
	border: none;
	/* background-color: transparent; */
	color: var(--ion-text-color);
	font-size: 14px;
	box-sizing: border-box;
	padding-bottom: 4px;
}

.react-calendar__month-view__weekdays__weekday {
	text-transform: uppercase;
	border-right: 1px solid var(--ion-color-light-shade);
	border-bottom: 1px solid var(--ion-color-light-shade);
	font-size: 12px;
    padding: 6px 0;
	text-align: center;
}

.react-calendar__month-view__weekdays__weekday > abbr {
	text-decoration: none;
}

.react-calendar__tile {
	appearance: none;
	background-color: transparent;
	color: var(--ion-text-color);
	font-size: var(--ion-font-size);
	height: 48px;
	display: flex;
	padding: 4px;
	border-bottom: 1px solid var(--ion-color-light-shade);
	border-right: 1px solid var(--ion-color-light-shade);
}

.react-calendar__tile--active {
	box-shadow: 0px 0px 0px 3px var(--ion-color-primary);
    z-index: 1;
    border-radius: 4px;
    border: 0px none;
}



.react-calendar__month-view__weekdays__weekday {
	background-color: #0000000f;
}



/* TODO: this will need to become smarter once we add support
   for week starting on monday */
.react-calendar__month-view__weekdays__weekday:nth-child(1),
.react-calendar__month-view__days__day--sunday {
	background-color: #FF3B300F;
	color: #FF3B30;
}

.react-calendar__month-view__weekdays__weekday:nth-child(7),
.react-calendar__month-view__days__day--saturday {
	background-color: #007AFF0F;
	border-right: 0px none;
	color: #007AFF;
}

.react-calendar__month-view__weekdays__weekday:nth-child(1) {
	background-color: #FF3B301F;
}

.react-calendar__month-view__weekdays__weekday:nth-child(7) {
	background-color: #007AFF1F;
}

.calendarHeading-root {
	display: flex;
	align-items: center;
	margin: 1px 0px;
	padding-left: 6px;
}

.calendarHeading-monthNumber {
	font-size: 40px;
	font-weight: bold;
	padding-right: 6px;
	letter-spacing: -2px;
}

.calendarHeading-monthAndYear {
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1;
}

/* .react-calendar__month-view__days__day--neighboringMonth {
	background-color: #00000009;
} */

.react-calendar__month-view__days__day--neighboringMonth > abbr {
	opacity: 0.2;
	/* color: var(--ion-text-color); */
}

.react-calendar__month-view {
	/* box-shadow: 1px 0 0 0 var(--ion-color-light-shade), -1px 0 0 0 var(--ion-color-light-shade); */
	border-left: 1px solid var(--ion-color-light-shade);
	border-right: 1px solid var(--ion-color-light-shade);
	border-top: 1px solid var(--ion-color-light-shade);
	margin-left: -1px;
	margin-right: -1px;
}

/* .calendarContainer {
	border-left: 6px solid grey;
	margin-left: -12px;
	padding-left: 6px;
} */