.react-calendar {
	border: none;
	border-radius: 10px;
	background-color: var(--ion-background-color);
	
	color: var(--ion-text-color);
}

.react-calendar__tile {
	appearance: none;
	background-color: var(--ion-background-color);
	color: var(--ion-text-color);
	font-size: var(--ion-font-size);
	border-radius: 8px;
	height: 44px;
}

.react-calendar__tile--active {
	border: 3px solid var(--ion-color-primary);
}

.react-calendar__month-view__days__day--neighboringMonth {
	color: #ddd;
}

/* TODO: rename this to something more coherent */
.calendarheading-year {
	font-weight: 300;
	opacity: 0.75;
}

.sneakyFloatingToolbar {
	/* position: absolute;
	top: 0;
	right: 0; */
	/* background-color: var(--ion-background-color); */
	z-index: 2;
	/* padding: 8px 8px 0 48px; */
	background-image: linear-gradient(90deg, rgba(var(--ion-background-color-rgb), 0) 75%, rgba(var(--ion-background-color-rgb), 1));
	/* background-image: linear-gradient(90deg, rgba(255,0,0, 0) 220px, rgba(255,0,0, 1)); */
	display: flex;
	justify-content: flex-end;
	margin-bottom: -58px;
	position: relative;
}

.sneakyFloatingToolbar ion-button {
	min-height: 0;
}