/* html {
	min-height: calc(100% + env(safe-area-inset-top));
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
} */

:root .home-page {
	--ion-background-color: #fff;
	--ion-toolbar-background: #fff;
}

@media (prefers-color-scheme: dark) {
	:root .home-page {
		--ion-background-color: #000;
	}
}

.home-view-header {
	padding-top: env(safe-area-inset-top);
	background-color: #fff;
}

@media (prefers-color-scheme: dark) {
	.home-view-header {
		background-color: #000;
	}
}

/* #root {
		min-height: calc(100% + env(safe-area-inset-top));
		padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
} */

.sneakyFloatingToolbar {
	position: absolute;
	top: env(safe-area-inset-top);
	right: 0;
	/* background-color: var(--ion-background-color); */
	z-index: 2;
	padding-left: 16px;
	height: 48px;
	background-image: linear-gradient(90deg, rgba(var(--ion-background-color-rgb), 0) 0px, rgba(var(--ion-background-color-rgb), 1) 24px);
	/* background-image: linear-gradient(90deg, rgb(0 255 24) 0px, rgb(255 0 0) 24px, rgb(255 0 0)); */
	/* background-image: linear-gradient(90deg, rgba(255,0,0, 0) 220px, rgba(255,0,0, 1)); */
	display: flex;
	justify-content: flex-end;
}

.sneakyFloatingToolbar ion-button {
	min-height: 0;
}

.resetButton {
	transition: all ease 250ms;
	min-width: 40px;
	--background: rgba(var(--ion-color-primary-rgb), 0.1);
	--background-hover: rgba(var(--ion-color-primary-rgb), 0.2);
	--background-activated: rgba(var(--ion-color-primary-rgb), 0.2);
	--background-focused: rgba(var(--ion-color-primary-rgb), 0.2);
	--color: var(--ion-color-primary);
	opacity: 1;
}

.resetButton--hidden {
	opacity: 0;
}

.home-settingsButton-badge {
	position: absolute;
	top: 2px;
	right: 5px;
	background-color: var(--ion-color-danger);
	color: var(--ion-color-primary-contrast);
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 16px;
	font-size: 10px;
	width: 16px;
	height: 16px;
}